/* styles.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.settings-icon {
    cursor: pointer; /* Change le curseur au survol de l'icône */
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.flex-container {
            display: flex;
            justify-content: space-between;
            
        }
        
.devices, .chart-container {
            flex: 1;
        }

#mqttMessages {
    background-color: #fff; /* White background */
    padding: 20px; /* Padding inside the box */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: 20px; /* Space above the box */
    margin-bottom: 20px; /* Space below the box */
}

/* Additional styling to separate each device message */
.device-message-container {
    background-color: #fff; /* White background for each device message */
    padding: 10px; /* Padding inside each message box */
    border-radius: 5px; /* Rounded corners for each message box */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for each message box */
    margin-bottom: 10px; /* Space between each message box */
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #0056b3;
}

input[type=text], input[type=number], button {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button-group {
    display: flex;
    justify-content: space-between;
}
label {
    display: block;
    margin: 10px 0 5px;
}
.device-element {
    display: flex;
    align-items: center; /* This will vertically center the items in the div */
    gap: 10px; /* Adjust as needed to add space between the icon and the text */
}
.device-name-off {
    font-size: 1rem; /* Adjust the size as needed */
    color: #ff0000;
}
.device-name {
    font-weight: bold;
    font-size: 1.15rem; /* Adjust the size as needed */
}

.icon {
    width: 50px; /* Fixed width for consistency */
    height: auto; /* This ensures the aspect ratio is maintained */
    vertical-align: middle; /* This aligns the icon vertically with the text */
}

.device-message input[type="text"] {
    margin-right: 5px; /* Espace avant le bouton */
}

.battery-percentage {
    font-weight: bold; /* This will make the text bold */
}


.device-message {
    display: flex;
    margin-top: 5px; /* Espace avant le message */
}

.device-message button {
    white-space: nowrap; /* Prevents the button text from wrapping */
}

/* This ensures there's space between the device messages */
.device-message + .device-message {
    margin-top: 10px;
}

/* Style for the global message div at the bottom */
#globalMessageDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Adds space above the global message div */
}

/* Style for the global message input */
#globalMessageText {
    flex-grow: 1; /* Allows the input to grow and fill space */
    margin-right: 10px; /* Adds space between the input and the button */
}


.device-input-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    /* gap: 10px; */
}

.form-group{
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-input {
    width: 100%;
    /* padding: 10px; */
    /* border-radius: 5px;
    border: 1px solid #ccc; */
}

.form-input input[type="text"] {
    width: 20vh;
}